# PHP
alias sites="cd ~/Sites"
alias psql="sudo -u postgres psql"
alias clean:vendor="rm -rf vendor"
alias an="vendor/bin/phpstan analyse --memory-limit=2G"
alias fo="vendor/bin/php-cs-fixer fix"
alias re='vendor/bin/rector process'
alias c="composer"
alias cu="c update"
alias cr="c require"
alias ci="c install"
alias cda="c dump-autoload -o"
alias c:fresh="clean:vendor && c && ci"
alias c:lock="ccu --lock && commit 'deps: update composer.lock' && gp"
alias cc="composer --ignore-platform-reqs"
alias ccu="cc update"
alias cci="cc install"
alias ccr="cc require"
alias ccda="cc dump-autoload -o"
alias hostfile="sudo vi /etc/hosts"
alias sshconfig="vi ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.pub | pbcopy'
alias copyedkey='command cat ~/.ssh/id_ed25519.pub | pbcopy'
alias xcodei="xcode-select --install"
alias xcodeu="softwareupdate --install xcode-select"
alias findport="lsof -i -P -n | grep LISTEN"

# Laravel
alias mf='php artisan migrate:fresh'
alias mfs='php artisan migrate:fresh --seed'
alias dusk:driver="vendor/laravel/dusk/bin/chromedriver-mac-arm"
alias dusk="php artisan dusk"
alias df="php artisan dusk --filter="
alias dw="php artisan dusk --browse"
alias dwf="php artisan dusk --browse --filter="
alias art="php artisan"
alias tinker="php artisan tinker"
alias vapor="vendor/bin/vapor"
alias sail="bash vendor/bin/sail"
alias clean="art optimize:clear && art view:clear"

# JavaScript
alias jest="./node_modules/.bin/jest"

# Git
alias gs="git status"
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias nah='git reset --hard;git clean -df'
alias commitrefactor="commit 'refactor: code quality assurance'"
alias commitformat="commit 'style: resolve style guide violations'"
alias commitassets="commit 'chore: rebuild assets for prod'"
alias commitdeps="commit 'chore: update deps'"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# PhpStorm
alias phpstorm='open -a /Users/maurizio/Applications/JetBrains\ Toolbox/PhpStorm\ Early\ Access\ Program.app "`pwd`"'

# PHP version
#alias switch-php80="brew unlink php@7.4 && brew link --overwrite --force php"
#alias switch-php74="brew unlink php && brew link --overwrite --force php@7.4"

# Redis
alias flush-redis="redis-cli FLUSHALL"

# VSCode
alias code='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scrape webpage
alias scrape="scrapeUrl"

# Switch NPM
alias npmnpm="npm config set registry https://registry.npmjs.org"

# Restart touch bar
alias touchbar="killall ControlStrip"
